<div class="navigation">
    <ul>
        <li>
            <img src="img/sqr.png" class="sqr-holder">
            <button data-action="load-page" data-url="KnowYourNumberStart"><div class="icon" data-svg="false" data-icon="calculator"></div><div class="label">Calculate Number</div></button></li>
        <li>
            <img src="img/sqr.png" class="sqr-holder">
            <button data-action="load-page" data-url="PledgeStart"><div class="icon" data-svg="false" data-icon="reduce"></div><div class="label">Reduce Number</div></button>
        </li>
        <li>
            <img src="img/sqr.png" class="sqr-holder">
            <button data-action="load-page" data-url="TrackYourEnergyRating"><div class="icon" data-svg="false" data-icon="track"></div><div class="label">Track Usage</div></button>
        </li>
        <li>
            <img src="img/sqr.png" class="sqr-holder">
            <button data-action="load-page" data-url="Profile"><div class="icon" data-svg="false" data-icon="profile"></div><div class="label">My Profile</div></button>
        </li>
        <li>
            <img src="img/sqr.png" class="sqr-holder">
            <button data-action="load-page" data-url=""><div class="icon" data-svg="false" data-icon="login"></div><div class="label">Login</div></button>
        </li>
    </ul>
</div>