<div class="pledge-lounge pledge-slide">
    
    <div class="web-column">
        <div class="column" data-flex="50">
            <div class="slider">
                <div class="slide" data-vcenter="true">
                    <img src="img/lounge.png">
                    <button class="next" data-action="load-page" data-url="ReduceKitchen" data-svg="false" data-icon="arrow-right"></button>
                    <button class="prev" data-action="load-page" data-url="ReduceBedroom" data-svg="false" data-icon="arrow-left"></button>
                </div>
            </div>
        </div>
        <div class="column" data-flex="50">
            <ul class="accordion">
        <li class="accordion-li open">
            <div class="title" data-action="accordion">
                <div class="label">No Cost Solutions</div>
                <div class="icon">
                    <div class="stripe vertical"></div>
                    <div class="stripe horizontal"></div>
                </div>
            </div>
            <div class="content" style="display:block;">
                <ul class="checklist">
                    <li>
                        <div class="field checkbox">
                            <input type="checkbox" id="checkbox-1">
                            <label for="checkbox-1">
                                <div class="toggle">
                                    <img class="check" src="img/check.png">
                                    <div class="o"><div class="inner"></div></div>
                                    <div class="i"></div>
                                    <div class="button">
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                    </div>
                                </div>
                                <div class="description">
                                    <span>I’m going to switch off lights that I’m not using</span>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="field checkbox">
                            <input type="checkbox" id="checkbox-2">
                            <label for="checkbox-2">
                                <div class="toggle">
                                    <img class="check" src="img/check.png">
                                    <div class="o"><div class="inner"></div></div>
                                    <div class="i"></div>
                                    <div class="button">
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                    </div>
                                </div>
                                <div class="description">
                                    <span>I’m going to switch off lights that I’m not using</span>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="field checkbox">
                            <input type="checkbox" id="checkbox-3">
                            <label for="checkbox-3">
                                <div class="toggle">
                                    <img class="check" src="img/check.png">
                                    <div class="o"><div class="inner"></div></div>
                                    <div class="i"></div>
                                    <div class="button">
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                    </div>
                                </div>
                                <div class="description">
                                    <span>I’m going to switch off lights that I’m not using</span>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="field checkbox">
                            <input type="checkbox" id="checkbox-4">
                            <label for="checkbox-4">
                                <div class="toggle">
                                    <img class="check" src="img/check.png">
                                    <div class="o"><div class="inner"></div></div>
                                    <div class="i"></div>
                                    <div class="button">
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                        <div class="stripe"></div>
                                    </div>
                                </div>
                                <div class="description">
                                    <span>I’m going to switch off lights that I’m not using</span>
                                </div>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="accordion-li">
            <div class="title" data-action="accordion">
                <div class="label">Low Cost Interventions</div>
                <div class="icon">
                    <div class="stripe vertical"></div>
                    <div class="stripe horizontal"></div>
                </div>
            </div>
            <div class="content">

            </div>
        </li>
        <li class="accordion-li">
            <div class="title" data-action="accordion">
                <div class="label">Invest to Save</div>
                <div class="icon">
                    <div class="stripe vertical"></div>
                    <div class="stripe horizontal"></div>
                </div>
            </div>
            <div class="content">

            </div>
        </li>
    </ul>
        </div>
    </div>
</div>