<div class="save-your-number">
    
    <h1>Save your number</h1>
    
    <p>Remember to save your number so that we can show you how to reduce it!</p>
    
    <div class="actions full">
        <button class="facebook left-icon">
            <div class="icon" data-svg="false" data-icon="facebook"></div>
            <div class="label">Register via Facebook</div>
        </button>
        <button class="twitter left-icon">
            <div class="icon" data-svg="false" data-icon="twitter"></div>
            <div class="label">Register via Twitter</div>
        </button>
        <button class="green left-icon">
            <div class="icon" data-svg="false" data-icon="email"></div>
            <div class="label">Register via Email</div>
        </button>
    </div>
    
</div>