<div class="your-pledge">
    <h1>Your pledge</h1>
    <h2>Actual vs Plegde</h2>
    
    <div class="pledge">
        <div class="blocks">
            <div class="block red"></div>
            <div class="block red"></div>
            <div class="block red"></div>
            <div class="block red"></div>
            
            <div class="block orange"></div>
            <div class="block orange"></div>
            <div class="block orange"></div>
            <div class="block orange"></div>
            
            <div class="block yellow"></div>
            <div class="block yellow"></div>
            <div class="block yellow"></div>
            <div class="block yellow"></div>
            
            <div class="block green"></div>
            <div class="block green"></div>
            <div class="block green"></div>
            <div class="block green"></div>
            
            <div class="block dark-green"></div>
            <div class="block dark-green"></div>
            <div class="block dark-green"></div>
            <div class="block dark-green"></div>
            
            <div class="bubble actual" data-value="68"><span>Actual</span></div>
            <div class="bubble yours" data-value="45"><span>Pledge</span></div>
        </div>
        
    </div>
    
</div>