<div class="your-energy-rating">
    
    <div class="web-column">
        <div class="column" data-flex="50" data-vcenter="true">
            <h1>Your Energy Rating</h1>
            <p>Remember to save you number so that we can show you how to reduce it!</p>
            <div class="actions left web-only">
                <button class="green" data-show="1" data-url="SaveYourNumber">
                    <div class="icon" data-svg="false" data-icon="arrow-right"></div>
                    <div class="label">Share</div>
                </button>
                <button class="pink" data-show="1" data-url="SaveYourNumber">
                    <div class="icon" data-svg="false" data-icon="arrow-right"></div>
                    <div class="label">Save</div>
                </button>
            </div>
            <div class="share web-only" data-showid="1">
                <div class="actions full">
                    <button class="facebook left-icon">
                        <div class="icon" data-svg="false" data-icon="facebook"></div>
                        <div class="label">Register via Facebook</div>
                    </button>
                    <button class="twitter left-icon">
                        <div class="icon" data-svg="false" data-icon="twitter"></div>
                        <div class="label">Register via Twitter</div>
                    </button>
                    <button class="green left-icon">
                        <div class="icon" data-svg="false" data-icon="email"></div>
                        <div class="label">Register via Email</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="column" data-flex="50" data-vcenter="true">
            <div class="graph-holder">
                <img class="rectp" src="img/rectp.png">
                <div class="graph">
                    <div class="graph-image" data-svg="false" data-icon="graph"></div>
                    <div class="label">
                        <span class="number"></span>
                        <span class="description">ER</span>
                    </div>
                </div>
                <div class="rating">
                    <div class="score">
                        <div class="inner">
                            <div class="info">
                                <span class="number">25.5</span>
                                <span class="description">AVG</span>
                            </div>
                        </div>
                    </div>
                    <div class="label">AVERAGE USER RATING</div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <div class="actions right mobile-only">
        <button class="green" data-action="load-page" data-url="SaveYourNumber">
            <div class="icon" data-svg="false" data-icon="arrow-right"></div>
            <div class="label">Share</div>
        </button>
        <button class="pink" data-action="load-page" data-url="SaveYourNumber">
            <div class="icon" data-svg="false" data-icon="arrow-right"></div>
            <div class="label">Save</div>
        </button>
    </div>
    
</div>